<mat-drawer-container class="container" color="">
    <mat-drawer mode="side" opened class="drawer">
        <mat-toolbar>Owner Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="owner-login">
                Owner Login
            </a>
            <a mat-list-item routerLink="owner-register">
                Owner Register
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="mainContent">
        <mat-toolbar color="primary">
            <h1 class="title">Foodie</h1>
            <button mat-raised-button class="goBack" color="primary" (click)="navToHome()"><mat-icon>logout</mat-icon>Go Back</button>
        </mat-toolbar>
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>