.f{
    float: right;margin-left: 1300px;
  }
  .register-form{
    text-align: center;
    margin-top: 150px;
}

mat-form-field{
    width: 300px;
}

div{
    margin-bottom: 10px;
}

.ErrMsg{
    color: red;
}
