.edit-form{
    margin: 10px 10px 10px;
}

div{
    margin-bottom: 10px;
}

.ErrMsg{
    color: red;
}

.email{
    margin-left: 100px;
    width: 300px;
}

.password{
    margin-left: 100px;
}

.road{
    margin-left: 100px;
    width: 250px;
}

.pincode{
    margin-left: 100px;
}

.cancel-button{
    margin-left: 400px;
}