<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
</head>
<!--<mat-toolbar color="primary">
    <h1 class="title">Foodie</h1>
    <button mat-raised-button class="goBack" color="primary" (click)="navToHome()"><mat-icon>logout</mat-icon>Go Back</button>
</mat-toolbar>-->

<section style="text-align: center;">
    <img src="assets\Main_Logo_3.png" class="main-logo-3">
</section>
<form [formGroup]="LoginForm" class="login-form" (submit)="loginFun()">
    <div>
        <h1>
            Login
        </h1>
    </div>
    <div>
        <mat-form-field class="email" appearance="fill">
            <mat-label>Email Id:</mat-label>
            <input type="email" matInput placeholder="Ex.  xyz00@abc.com" formControlName="email">
        </mat-form-field>
        <div class="ErrMsg" *ngIf="LoginForm.controls['email'].hasError('required')">Email is a Mandatory field !</div>
        <div class="ErrMsg" *ngIf="LoginForm.controls['email'].hasError('email')">Email format is incorrect! Please Check again</div>
    </div>
    <div>
        <mat-form-field class="password" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Ex. Try127@This" formControlName="password">
        </mat-form-field>
        <div class="ErrMsg" *ngIf="LoginForm.controls['password'].hasError('required')"> Password is Mandatory </div>
    </div>

    <button mat-raised-button type="submit" color="primary" class="login-button" [disabled]="LoginForm.invalid">Login</button>
    <button mat-raised-button color="primary" (click)="navToRegisterComp()">Register</button>
</form>

