.f{
    float: right;margin-left: 1050px;
  }
  .register-form{
    text-align: center;
   
}

mat-form-field{
    width: 300px;
}

div{
    margin-bottom: 10px;
}

.ErrMsg{
    color: red;
}
.a{
    width: 100%;background-color:rgb(154, 152, 161);height: max-content;display: flexbox;
}
