<div class="bg-img">
    <div class="content">
       <header>Reset Password</header>
       <form [formGroup]="ForgotForm" class="login-form" (submit)="retriewPassword()">
          <div class="field">
             <span class="fa fa-user"></span>
             <input type="email" required placeholder="Email or Phone" formControlName="email">
          </div>
          <div class="field">
            <span class="fa fa-user"></span>
            <input type="text" required placeholder="User Name" formControlName="userName">
         </div>
          <div class="field">
             <span class="fa fa-lock"></span>
             <input type="password" class="pass-key" required placeholder="Reset Password" formControlName="password">
             <!-- <span class="show">SHOW</span> -->
          </div>
          
          <div class="field">
             <input type="submit" value="Reset">
          </div>
       </form>
         <span style="color: white;">Want't to go back? </span>
         <a href="" style="color: white;"> Home</a>
      </div>
    </div>
 
